
<link rel="stylesheet" href="/style.css">

<section class="container">
  <div class="form-wrapper">
    <div class="circle circle-one"></div>
    <div class="login-container">
      <div class="form-container">
        <h1 class="opacity">Edit User</h1>

        <% if (typeof message !== 'undefined') { %>
          <h4 class="opacity" style="color: rgb(243, 12, 12);"><%= message %></h4>
        <% } %>

        <form action="" method="post">
          <input type="text" name="name" placeholder="Enter Name" value="<%= user.name %>" required />
          <input type="email" name="email" placeholder="Enter Email" value="<%= user.email %>" required />

          <div class="radio-group opacity">
  <label>
    <input type="radio" name="verify" value="1" <% if (user.is_verified == 1) { %> checked <% } %> />
    Verified
  </label>
  <label>
    <input type="radio" name="verify" value="0" <% if (user.is_verified == 0) { %> checked <% } %> />
    Not Verified
  </label>
</div>


          <input type="hidden" name="id" value="<%= user._id %>" />
          <button class="opacity" type="submit">Update User</button>
        </form>

        <div class="back-link opacity">
          <a href="/admin/dashboard">Back to Dashboard</a>
        </div>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
</section>

<script src="/javascript.js"></script>