
<link rel="stylesheet" href="/home.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<!-- Hero Section -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/antoine-barres.jpg')">
    
    <!-- Logout button in top-right corner -->
    <div style="position: absolute; top: 20px; right: 30px; z-index: 10;">
      <a href="/logout" class="btn btn-danger btn-round text-decoration-none btn">Logout</a>
    </div>

    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Welcome, <%= user.name %>!</h1>
          <div class="fog-low">
            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
          </div>
        </div>
        <h2 class="presentation-subtitle text-center">Glad to have you back.</h2>
      </div>
    </div>

    <div class="